@page "/list"

@using ToDoList.Model
@using ToDoList.Services

@inject ToDoService ToDoService

<h1>할일 목록</h1>

<p>다음과 같은 할일이 아직 남아 있습니다.</p>

<p><a href="/new">새 항목</a>을 추가하세요.</p>

@if (todos == null)
{
<p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>할일</th>
            <th>추가한 날짜</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in todos)
            {
        <tr>
            <td>@todo.Item</td>
            <td>@todo.DateAdded.ToLongDateString()</td>
        </tr>
            }
    </tbody>
</table>
}

@code {
    ToDo[] todos;

    protected override async Task OnInitializedAsync()
    {
        todos = await ToDoService.GetToDosAsync();
    }
}
