@page "/"

@using ToDoList.Model
@using ToDoList.Services

@inject ToDoService ToDoService

<h1>TODO 목록입니다</h1>

<p>현재 @todoCount 개의 할일이 있습니다. </p>

<p><a href="/list">할일 목록</a> 또는 <a href="/new">새 할일을 추가</a>하세요.</p>

@code {
    int todoCount;

    protected override async Task OnInitializedAsync()
    {
        todoCount = await ToDoService.GetToDoCountAsync();
    }
}
