@page "/new"

@using ToDoList.Services

@inject ToDoService ToDoService
@inject NavigationManager NavigationManager

<h1>새 할일</h1>

<EditForm Model="@todo" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="item" class="new-item" @bind-Value="@todo.Item" />

    <button type="submit">전송</button>
</EditForm>

@code {
    private ToDo todo = new ToDo();

    private void HandleValidSubmit()
    {
        todo.DateAdded = DateTime.UtcNow;
        ToDoService.AddToDo(todo);
        NavigationManager.NavigateTo("list");
    }
}
