@page "/"

@using Numbers.Web.Services
@inject RandomNumberService RngService

<h1>DIAMOL 무작위 숫자 생성기</h1>

@if (callFailed){
    <p>무작위 숫자 서비스 사용불가!</p>
}

@if (callFailed == false && randomNumber != -1){
    <p>무작위 숫자: @randomNumber</p>
}

<button class="btn btn-primary" @onclick="GetRandomNumber">무작위 숫자 생성</button>

@code {  
    bool callFailed = false;  
    int randomNumber = -1;

    void GetRandomNumber()
    {
        callFailed = false;
        try 
        {
            randomNumber = RngService.GetNumber();
        }
        catch
        {
            callFailed = true;
        }
    }
}
